body {
  background-color:#7a63c0;
  font-family: Verdana, Helvetica, sans-serif;
  color: #ffffff;
}

.page {
  display: block;
  width: 100%;
  height: 100vh;
  padding: 20px;
  margin: 0;
  border-bottom:20px solid black;
}

.primary-nav {

}
